.avatar {
  display: block;
  margin: 0 auto; /* Pour centrer horizontalement */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover; /* Assurez-vous que l'image conserve ses proportions */
}